// Resizers
// -------------------

.atom-dock-resize-handle {
  // width: 4px !important;
  background: @tree-view-background-color;
}
.atom-dock-resize-handle.atom-dock-resize-handle-resizable.left {
  border-right: 1px solid @panel-heading-border-color;
}
.atom-dock-resize-handle.atom-dock-resize-handle-resizable.right {
  border-left: 1px solid @panel-heading-border-color;
}
