/* width */
::-webkit-scrollbar {
 width: 9px;
 // height: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: #555;
}

.scrollbar-corner {
  display: none;
}

.horizontal-scrollbar {
  height: 9px !important;
}
